.scroll-contenedor {
  display: flex;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  touch-action: manipulation;
  background-color: #000; /* Cambia el fondo a negro */
}
  .seccion {
    flex: 0 0 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; /* Asegúrate de que no haya márgenes */
    padding: 0; /* Asegúrate de que no haya padding */
}
  .scroll-slider {
    width: 100%;
    position: fixed;
    bottom: 10px;
    left: 0;
    z-index: 10;
    background: transparent;
    appearance: none;
    height: 20px;
    cursor: pointer;
  }
  
  .scroll-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px; 
    height: 60px;
    background: url('../img/voltboyScrollBar.png') center/cover no-repeat; /* Imagen personalizada */
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .scroll-slider::-moz-range-thumb {
    width: 60px; /* Ajusta el tamaño del thumb */
    height: 60px;
    background: url('../img/voltboyScrollBar.png') center/cover no-repeat; /* Imagen personalizada */
    cursor: pointer;
  }
  
  a {
    margin-top: 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
  }
  
    .seccion-fallout3 {
    background: #131313 url('../img/escena1Pixel.png') center/contain no-repeat; /* Cambiado a contain */
    color: white;
}

.seccion-ascensor {
    background: #000000 url('../img/AscensorPixel.png') center/contain no-repeat; /* Cambiado a contain */
    color: white;
}
.seccion-fallout-new-vegas {
    background: #400 url('../img/escena2Pixel.png') center/contain no-repeat; /* Cambiado a contain */
    color: white;
}

.seccion-fallout4 {
    background: rgb(0, 0, 0) url('../img/excena4Piexl.png') center/contain no-repeat; /* Cambiado a contain */
    color: white;
    
}

.seccion-fallout3,
.seccion-fallout-new-vegas,
.seccion-fallout4 {
    background-color: #000000 ; /* Elimina el color de fondo */
}