.scroll-contenedor {
    display: flex;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    touch-action: manipulation;
  }
  
  .seccion {
    flex: 0 0 100vw;
    height: 100vh;
    overflow-y: hidden; /* 👈 aquí el cambio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .scroll-slider {
    width: 100%;
    position: fixed;
    bottom: 10px;
    left: 0;
    z-index: 10;
    background: transparent;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
  }
  
  .scroll-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px; 
    height: 60px;
    background: url('../img/voltboyScrollBar.png') center/cover no-repeat; /* Imagen personalizada */
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .scroll-slider::-moz-range-thumb {
    width: 60px; /* Ajusta el tamaño del thumb */
    height: 60px;
    background: url('../img/voltboyScrollBar.png') center/cover no-repeat; /* Imagen personalizada */
    cursor: pointer;
  }
  
  a {
    margin-top: 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    border-radius: 8px;
  }
  
  
  
  
  .seccion-fallout3 {
    background: #222 url('../img/Vault_111.jpg') center/contain no-repeat;
    color: white;
  }
  
.seccion-fallout-new-vegas {
    background: #400 url('../img/newvegas.jpg') center/cover no-repeat;
    color: white;
  }

  .seccion-fallout4 {
    background: #044 url('../img/fondo.png') center/cover no-repeat;
    color: white;
  }
  
  .seccion-radio {
    background: linear-gradient(#111, #222);
    color: white;
    padding: 1rem;
  }
  